body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  background-color: #fdf6e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  color: #6b4f4f;
}

.search-form-wrapper {
  max-width: 800px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.toggle-group {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.toggle-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #6b4f4f;
}

.slider {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  bottom: 2px;
  left: 2px;
  transition: 0.4s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .slider {
  background-color: #ffcc00;
}

input[type="checkbox"]:checked + .slider::before {
  transform: translateX(20px);
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.search-box input {
  width: 70%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #6b4f4f;
}

.search-button {
  padding: 0.8rem;
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-button img {
  width: 16px;
  height: 16px;
}

.form-container {
  background-color: #fdf6e3;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.advanced-search-title {
  font-size: 1.5rem;
  color: #6b4f4f;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "Georgia", serif;
}

.date-group {
  margin-bottom: 1rem;
  text-align: left;
}

.date-group label {
  font-size: 1rem;
  color: #6b4f4f;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-family: "Georgia", serif;
}

.date-inputs {
  display: flex;
  gap: 10px;
}

.date-inputs select {
  width: calc(33.33% - 6.66px);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #6b4f4f;
}

form input,
form select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 1rem;
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #6b4f4f;
}

button {
  padding: 0.8rem;
  background-color: #d4c1a5;
  color: #6b4f4f;
  border: 1px solid #b09e89;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Georgia", serif;
  font-size: 1rem;
}

button:hover {
  background-color: #c5b299;
}
