/* Fixed bottom bar, centered with 25% width */
.bottom-bar {
  position: fixed;
  bottom: 20px;
  width: 25%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(147, 195, 243, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  color: #fff; /* White text color for contrast */
  text-align: center;
  padding: 5px;
  z-index: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  height: 75px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

/* Style for each option in the bottom bar */
.bottom-bar-option {
  color: #fff; /* White text color */
  text-decoration: none;
  padding: 10px 20px; /* Increased padding for larger clickable area */
  margin: 0; /* Remove default margin */
  font-size: 1.2em; /* Larger font size */
  background: transparent; /* Transparent background */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
  border-radius: 8px; /* Optional rounded corners */
  position: relative; /* Needed for pseudo-element positioning */
  display: flex; /* Use flexbox to center text */
  justify-content: center; /* Center text horizontally */
}

/* Add a pseudo-element for the white line between buttons */
.bottom-bar-option:not(:last-child)::after {
  content: ""; /* Create an empty element */
  position: absolute;
  right: -4.5px; /* Position it slightly to the right of the button */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  width: 1px; /* Set the width of the line */
  height: 40%; /* Height of the line */
  background-color: white; /* Color of the line */
}

/* Highlight the current page button */
.bottom-bar-option.active {
  background: rgba(24, 116, 205, 0.7); /* Darker blue for active button */
}

/* Hover effect for buttons */
.bottom-bar-option:hover {
  background: rgba(24, 116, 205, 0.5); /* Slightly darker background on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}

/* Disabled style for the Results button */
.bottom-bar-option.disabled {
  color: #B0C4DE; /* Light Steel Blue text color */
  pointer-events: none;
  background: rgba(173, 216, 230, 0.5); /* Semi-transparent light blue for disabled button */
}

/* Loading container styling */
.loading-container {
  display: flex;
  align-items: center;
  color: white;
}
