.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

/* Homepage Styling */
.home-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 75vh; /* Ensure it takes full viewport height */
  width: 100vw;
  padding: 2rem;
  
  /* Background image properties */
  background-image: url('./assets/purple.jpg'); /* Replace with your image path */
  background-size: cover; /* Cover ensures the image covers the entire container */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center; /* Centers the image */
}


.logo-section {
  flex: 1; /* Allow logo section to take up available space */
  display: flex;
  justify-content: center; /* Center logo horizontally */
  align-items: center; /* Center logo vertically */
}

.text-section {
  flex: 1; /* Allow text section to take up available space */
  display: flex;
  flex-direction: column; /* Stack text vertically */
  justify-content: center; /* Center text vertically */
  align-items: flex-start; /* Align text to the left */
  padding: 0 2rem; /* Add horizontal padding */
}

/* Search Page Styling */
.search-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 75vh; /* Ensure it takes full viewport height */
  padding: 2rem;
}

/* Result Page Styling */
.result-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-height: 75vh; /* Ensure it takes full viewport height */
  padding: 2rem;
}