/* General Main Container */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Homepage Styling */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Logo Section */
.logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Text Section */
.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
}


/* Search Container */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/desert.jpg');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}


/* Result Page Styling */
.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/lighthouse.jpg');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}


/* About Page Styling*/
.about-container {
  height: 100vh;
  width: 100vw;
}

